body {
    font-family: "Poppins", sans-serif;
  }
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
nav,
.nav-links{
    display:flex
}
nav{
    justify-content: space-around;
    align-items:center;
    height:17vh;
}
.nav-links{
    gap :2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color:black;
    text-decoration: none;
    text-decoration-color:white;
    cursor:pointer;
}
a:hover{
    color:grey;
    text-decoration: underline;
    text-decoration-color:grey;
    text-underline-offset:1rem;
}
.logo{
    font-size:2rem;
    cursor:default;
}
section{
    padding-top:7vh;
    height: 96vh;
    margin:0 8rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display:flex;
}
#about{
    display:flex;
    justify-content:center;
    gap:5rem;
    height: 50vh;
}
.img_cont{
    display:flex;
    margin:auto 0;
    height:500px;
    width:500px;
}
.img_cont img{
    border-radius:25px;
} 
.txt_1{
    font-family:"Abril Fatface";
    font-size: 2rem;
}
.txt_2{
    font-family: "Poppins", sans-serif;
    font-size :1.1rem;
}